<section class="navigation">
    <ul>
        <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/About" routerLinkActive="active">About</a></li>
        <li><a routerLink="/Services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/Teams" routerLinkActive="active">Teams</a></li>
        <li><a routerLink="/Portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/Contact" routerLinkActive="active">Contact</a></li>
    </ul>
</section>
